*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 100px;
    width: 100px;
    /* object-fit: cover; */
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 3rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    display: inline;
    font-size: 25px;
    padding: 10px;
    border-radius: 1rem;
}
